* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  border: none;
}

h1,
p {
  font-family: $secondaryFont;
}

body {
  font-family: $primaryFont;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
