* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  border: none;
}

h1,
p {
  font-family: $secondaryFont;
}

body {
  font-family: $primaryFont;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
select {
  background-image: url(./assets/icons/selectIcon.svg) !important;
  background-repeat: no-repeat !important;
  background-position: right 16px center !important;
  appearance: none;
  cursor: pointer;
}
::-webkit-calendar-picker-indicator {
  width: 50px;
  height: 48px;
  background-image: url(../../assets/icons/calendar.svg) !important;
  background-size: 40% !important;
  background-position: center !important;
  cursor: pointer;
}
