@import "./modules/variables";
@import "./modules/mixin";
@import "./modules/classes";

.header {
  width: 100%;
  padding: 20px 12px;
  @include flexbox;
  @include phone {
    padding: 20px 35px;
  }
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  position: sticky;
  inset: 0;
  @include flexbox($justify: space-between);
  .logoArea {
    @include flexbox($justify: space-between);
    width: 50%;
    gap: 12px;
    .logo {
      width: 120px;
      @include phone {
        width: 144px;
      }
      height: 38px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .searchCon {
      display: none;
      @include tablet {
        @include flexbox;
      }

      @include tab {
        width: 380px;
      }
      height: 40px;
      border: 1px solid #21407d38;
      border-radius: 8px;
      .input {
        height: 100%;
        width: 100%;
        padding: 0 12px;
        font-family: $primaryFont;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $grayColor;
        border-radius: 8px;
      }
      span {
        width: 59px;
        height: 100%;
        @include flexbox;
        background-color: $primary;
        border: 1px solid $primary;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }
  .dropDownArea {
    @include flexbox;
    gap: 12px;
    @include phone {
      gap: 26px;
    }
    a {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-decoration: underline;
      color: $activeColor;
      display: none;
      @include phone {
        display: flex;
      }
    }
    .notify {
      display: none;
      @include phone {
        display: flex;
      }
    }
    .userDrop {
      @include flexbox;
      gap: 12px;
      cursor: pointer;
      .user {
        width: 30px;
        border-radius: 50%;
        @include phone {
          width: 48px;
        }
      }
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $activeColor;
      }
    }
  }
  .bars {
    margin-left: 12px;
    @include minlaptop {
      display: none;
    }
  }
}

// Sidebar Stylings
.show {
  left: 0 !important;
}
.sidebarCon {
  width: 100%;
  @include flexbox($direction: column, $justify: start, $align: start);
  gap: 12px;
  position: absolute;
  top: 0;
  background-color: $white;
  left: -100%;
  transition: all 300ms ease;
  @include minlaptop {
    position: relative;
    left: 0;
  }
  .link {
    @include flexbox($justify: start);
    gap: 8px;
    padding: 12px 25px;
    cursor: pointer;
    width: 100%;
    &:hover {
      background-color: #39cdcd17;
      transition: all 300ms ease;
      border-left: 3px solid $primary;
      img,
      span {
        opacity: 1;
      }
    }
    img {
      opacity: 0.6;
    }
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $activeColor;
      opacity: 0.6;
    }
  }
  .switchLink {
    @include flexbox($direction: column, $justify: start, $align: start);
    width: 100%;
    gap: 12px;
  }
  .links {
    @include flexbox($direction: column, $justify: start, $align: start);
    width: 100%;
    gap: 12px;
    h2 {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      font-family: $primaryFont;
      color: $grayColor;
      padding: 20px 25px 0;
      text-transform: uppercase;
    }
  }
  .settings {
    padding-bottom: 15vh;
  }
}

// Dashboard Page
.active {
  background-color: #39cd632d;
  color: $success;
}
.blacklist {
  background-color: #e4033b23;
  color: $danger;
}
.inactive {
  background-color: #545f7d21;
  color: $grayColor;
}
.pendeing {
  background-color: #e9b3002f;
  color: $warning;
}
.none {
  display: none !important;
}
.mainDashboard {
  width: 100%;
  padding: 20px 16px 40px;
  gap: 20px;
  .editContainer {
    position: absolute;
    top: 0;
    left: -150px;
    z-index: 10;
    background-color: $white;
    color: $grayColor;
    @include flexbox($direction: column, $justify: start, $align: start);
    gap: 18px;
    border: 1px solid rgba(84, 95, 125, 0.04);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    width: 180px;
    height: 130px;
    padding: 20px;
    a {
      @include flexbox($align: flex-start);
      gap: 12px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $grayColor;
    }
  }
  .desktopTable {
    width: 100%;
    position: relative;
    display: none;
    @include tab {
      display: flex;
    }
    .filterCon {
      position: absolute;
      top: 60px;
      left: 20px;
      background-color: $white;
      border: 1px solid rgba(84, 95, 125, 0.14);
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      height: 90%;
      width: 26%;
      padding: 25px;
      @include flexbox($direction: column, $align: start, $justify: start);
      gap: 20px;
      .label {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $grayColor;
      }
      .btncontain {
        @include flexbox;
        width: 100%;
        gap: 12px;
        .reset {
          border: 1px solid #545f7d;
          background-color: transparent;
          color: $grayColor;
        }
        .filter {
          background-color: $primary;
          border: 1px solid $primary;
          color: $white;
        }
        button {
          width: 50%;
        }
      }
    }
  }
  .mobileTable {
    width: 100%;
    @include tab {
      display: none;
    }
  }
  @include tablet {
    padding: 50px 35px;
    gap: 30px;
  }
  height: 100vh;
  overflow-y: auto;
  @include flexbox($direction: column, $align: start, $justify: start);
  h2 {
    font-size: 20px;
    @include tablet {
      font-size: 24px;
    }
    font-weight: 500;
    line-height: 28px;
    color: $activeColor;
  }
  .cardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 12px;
    .card {
      width: 100%;
      background-color: $white;
      border: 1px solid rgba(33, 63, 125, 0.06);
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      height: 160px;
      padding: 20px;
      @include flexbox($direction: column, $align: start, $justify: start);
      gap: 15px;
      cursor: pointer;
      h5 {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: $grayColor;
      }
      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $activeColor;
      }
    }
  }
  .tableCon {
    width: 100%;
    @include flexbox($direction: column, $align: start, $justify: start);
    gap: 30px;
    .paginate {
      width: 100%;
      @include phone {
        @include flexbox($direction: row, $justify: space-between);
      }
      @include flexbox($direction: column, $justify: center);
      gap: 20px;
      padding-bottom: 10vh;
      .showing {
        @include flexbox($justify: start);
        gap: 12px;
        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $grayColor;
        }
        .filterCon {
          background: rgba(33, 63, 125, 0.1);
          border-radius: 4px;
          @include flexbox;
          gap: 12px;
          width: 80px;
          height: 30px;
          padding: 0 12px;
          cursor: pointer;
          span {
            font-weight: 500;
            color: $activeColor;
          }
        }
      }
    }
    .status {
      width: fit-content;
      padding: 8px 20px;
      @include flexbox;
      border-radius: 100px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
    .content {
      position: relative;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $grayColor;
      cursor: pointer;
      margin: 0 10px;
      text-align: left;
    }
  }
}

// Dashboard Userdetails

.back {
  @include flexbox($justify: start);
  gap: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $grayColor;
}
.headingStyle {
  @include flexbox($justify: space-between);
  width: 100%;
  gap: 12px;
  .buttons {
    @include flexbox;
    gap: 12px;
    button {
      padding: 10px 10px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
    .blacklist,
    .active {
      background-color: transparent;
    }
  }
}
.profileDetails {
  @include flexbox($direction: column, $align: start, $justify: space-between);
  background-color: $white;
  width: 100%;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 20px 40px 0;
  height: 210px;
  .topSide {
    @include flexbox($justify: space-between);
    width: 100%;
    .profile {
      @include flexbox;
      gap: 16px;
      img {
        width: 100px;
        height: 100px;
        @include flexbox;
        object-fit: cover;
      }
      div {
        @include flexbox($direction: column, $align: start);
        gap: 6px;
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $grayColor;
        }
      }
    }
    .tiers {
      @include flexbox($direction: column, $align: start);
      gap: 12px;
      border-left: 1px solid #545f7d25;
      border-right: 1px solid #545f7d25;
      height: 100%;
      padding: 0 25px;
      h5 {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $grayColor;
      }
      .stars{
        
      }
    }
  }
  .tabCon {
    @include flexbox($justify: space-between);
    width: 100%;
    gap: 10px;
    .singleTab {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: rgba(0, 0, 0, 0.8);
      height: 25px;
      cursor: pointer;
      width: 50%;
    }
    .activeTab {
      border-bottom: 2px solid $primary;
      color: $primary;
      transition: all 300ms ease;
    }
  }
}
