@import "./modules/variables";
@import "./modules/mixin";
@import "./modules/classes";

.header {
  width: 100%;
  padding: 25px 15px;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  position: sticky;
  inset: 0;
  @include flexbox($justify: space-between);
  .logoArea {
    @include flexbox($justify: space-between);
    width: 40%;
    .logo {
      width: 144px;
      height: 38px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
